* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color:antiquewhite;
  font-family: "Times New Roman", Times, serif, "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
